{% extends "base.html" %}

{% block head %}
    <title>Login</title>
    <style>
        body{
            background-image: url("static/img/login-background.jpg");
            background-repeat: no-repeat, repeat;
            background-size: cover;
            height: 951px;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="container-fluid login-container">
        <div class="login-wrap">
           <div class="row" style="width: 960px;">
                <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="login-image">
                            <img src="static/img/cd-lei.png" alt="cd-lei" />
                        </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                     <form class="login-form" id="form" method="GET">
                         <span class="login-form-title"> User Login </span>

                         <div class="wrap-input">
                            <input class="input-form noHover" type="text" name="username" placeholder="Username" required>
                            <span class="symbol-input-form ">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                         </div>

                          <div class="wrap-input">
                            <input class="input-form noHover" type="password" name="password" placeholder="Password" required>
                            <span class="symbol-input-form ">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                         </div>

                         <div class="alert alert-danger" id="collapsed" style="display: none;">
                            Username/Password are incorrect
                         </div>

                         <div class="container-login-form-btn">
                            <input class="login-form-btn" value="LOGIN" type="button" onclick="loginUser()">
                         </div>
                     </form>
                    <div class="text-center create-account">
                        <a class="create-account-info" href="/register">
                            Create your User
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
           </div>
        </div>
    </div>

{% endblock %}